
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

$familia-fuentes: 'Montserrat', sans-serif;

// VARIABLES DE COLOR //
$color-nav: #000000;
$color_title: #2A5467;
$color-subtitle: #2CAB6A;
$color-white: #FFFFFF;
$color-parrafos: #2A5467;
$color-hover-ubicacion: #2CAB6A;
$color-botton-hover: #2CAB6A;

$background-deafult: #285468;
$background-blue-default : #1e2f3a;



h1 {
    font-size: 2.25rem;
    color: $color_title;
    font-weight: 700;
    text-transform: uppercase;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
}

.bigTitle{
    color:$color-subtitle;
    font-size: 3.5rem;
    margin: 4px;
}
.mediumTitle{
    font-size: 2.5rem;
    color:$color-subtitle;
    font-weight: 500;
    text-transform: uppercase;
}
.smallTitle{
    font-size: 1.2rem;
    color: $color_title;
    font-weight: 700;
    text-transform: uppercase;
    // -webkit-box-shadow: 2px 20px 40px 0px rgba(40,84,104,1);
    // -moz-box-shadow: 2px 20px 40px 0px rgba(40,84,104,1);
    text-shadow:0px 2px 3px rgba(40, 84, 104, 0.507);
}

p {
    font-family: $familia-fuentes;
}

.btn {
    border-radius: 0px;
}


@mixin nav-text {
   color: $color-nav;
   font-size: 1rem;
   font-weight: 500;    
}
.home .navbar-nav .nav-item a:hover{
    background: rgba(255, 255, 255, 0);
    color: $color-subtitle;
}

.home .navbar-nav .nav-item a {
    @include nav-text;
} 


.title {
    display: inline-block;
    // letter-spacing: 2px;
    position: relative;
}
  
.title::after, .title::before {
    border-bottom: 4px solid $color_title;
    bottom: 50%;
    content: "";
    margin: 0 5px;
    position: absolute;
    width: 20px;
}
  
.title::before {
    left: -35px;
}
  
.title::after {
    right: -35px;
}

.navbar-toggler {
    
    line-height: 1;
    background-color: rgb(0, 0, 0); // remove default button style
    color: #FFFFFF;
   
    // Opinionated: add "hand" cursor to non-disabled .navbar-toggler elements
    &:not(:disabled):not(.disabled) {
      cursor: pointer;
      color: #ffffff !important;
    }
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    color: #ffffff !important;
  }
.navbar-collapse{
    padding-right: 20px;
}


.home {
    .navbar-brand:hover{
        background: transparent;
    }
    .bg-dark {
        background: rgba(255, 255, 255, 0.71) !important;
    }
    .logo {
       padding-right: 0%;
    }

    .nav-item-links {
        text-align: right !important;
    }

    .text-home {
        margin: auto;
        padding-top: 10%;
        h1 {
            color: $color-white;
            line-height: 62px;
            font-size: 2.5rem;
            font-weight: 700;
        }

        .text-home-sub {
            font-size: 2.20rem;
            font-weight: 500;
        }
    }
    .description{
        margin-top: 100px;
        height: 85%;
        padding-top: 60px;
        // agregados^^^^^
        overflow-y: scroll;
        overflow-x: hidden;
        box-sizing: border-box;
        // height: 100%;
        z-index:2;
        position: absolute;
        background:rgba(255, 255, 255, 0.9);
        // padding-top: 130px ;
        padding-bottom: 30px ;
        text-align: center;  
        ::-webkit-scrollbar{
            width: 7px;
        }
        ::-webkit-scrollbar-thumb{
            background: $color-subtitle;
            border-radius: 5px;
        }
        @media(max-width:768px){
            font-size: 0.9em;
        }  
        p{
            color: $color-parrafos;
            margin: 2% 5%;
        }
        .cupos{
            color: $color-subtitle;
            text-align: initial;
            margin: 2% 0;
            margin-left: 2%;
            h3{
                font-size: 2rem;
                margin: 0;
            }
            p{
                margin: 0;
                font-size: 1.1rem;
            }
        }
        .characteristics{
            margin: 0% 5%;
            p{
                color: $color-subtitle;
                text-align: left;
                img{
                    width: 20px;
                    height: 20px;
                }

            }
        }
        button{
            margin-top: 30px;
            color: #FFFFFF;
            background: $color-subtitle;
            border-radius: 4px;
        }

        .down{
            width: 80px;
            height: 80px;
            // background: #9c9c9c6e;
            background: #2854682a;
            border-radius: 100%;
            margin-top: 30px;
            font-size: 70px;
            i{
                color: $color-parrafos;
            }
        }

        .contenido{
            span{
                color: $color-subtitle;
                font-weight: bold;
            }
        }
        .precios{
            text-align: start;
            padding: 0px 20px;
            p{
                color: $color-subtitle;
                span{
                    font-weight: bold;
                    font-size: 1.5em;
                }
            }
            .costos{
                padding:10px 5px;
                margin: 20px 0px;
                border: 3px $color-parrafos solid;
                text-align: center;
                @media(max-width:350px){
                    table{
                        font-size: 0.9em;
                    }
                }
                h2{
                    color: $color_title;
                }
                p{
                    margin: 0%;
                    color: $color-parrafos;
                    span{
                        font-size: 1em;
                    }
                }
                .valor-en{
                    text-align: right;
                    color: $color-subtitle;
                    margin: 0px 30px;
                }
                table{
                    color: $color-parrafos;
                    .table-active{
                        th:nth-child(2),
                        th:nth-child(3){
                            text-align: center;
                        }
                    }
                    td{
                        text-align: center;
                    }
                }
            }
            .buy-now{
                border-radius: 0;
                font-size: 1.5em;
                padding: 0.5% 10%;
            }
            .buy-now:hover{
                background: rgb(37, 146, 90);
            }
            .total{
                background: #285468;
                color: #FFFFFF;
                h2{
                    text-align: center;
                }
                label{
                    margin: 0px;
                    padding: 0px;
                }
                input{
                    background: transparent;
                    color: #FFFFFF;
                    border: 0;
                    border-bottom: 1px #FFFFFF solid;
                    border-radius: 0px;
                    padding: 0px;
                    
                }
                textarea{
                    background: transparent;
                    color: #FFFFFF;
                    border-radius: 0;
                }

                button{
                    background: transparent;
                    margin-top: 0px;
                    border: 2px #fff solid;
                    width: 200px;
                    transition: all .5;
                }
                button:hover{
                    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
                }
                .cost{
                    text-align: center;
                    font-size: 1.4em;
                }
                .adventure{
                    text-align: center;
                }
                .totalll{
                    border: 1px #FFFFFF solid;
                }
            }
            .incluye,
            .no-incluye{
                @media(max-width:375px){
                    ul{
                        padding-left: 0px;
                    }
                }
                font-size: 0.9rem;
                color: $color-parrafos;
                margin: 0px;
                text-align: left;
                h3{
                    color: $color-subtitle;
                    text-align: center;
                    margin: 10px;
                }
            }
        }
    }

    .carousel{
        position: relative;
        .carousel-item {
            height: 100vh;
            min-height: 300px;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
      }
    }
    
}

.content-title {
    text-align: center;
}
.content-subtitle {

    h2 {
        color: $color-subtitle;
        font-size: 2.25rem;
        font-weight: 900;
        font-family: $familia-fuentes;
        text-transform: uppercase;
    }  
}
#gallery{
    padding-bottom: 20px;
}
#carouselExampleControls{
    padding: 0px 12%;
    @media(max-width: 1024px){
        padding: 0px 6%;
    }

}

#allies {
    margin-top: 5%;
    .allies-1 {
        margin-top: 5%;
    }

    .allies-2 {
        margin: 5% 0px;
    }
    .content-text-allies {
        margin-top: 10%;
        .content-subtitle{
            margin-bottom: 20px;
            .sub-title {
            font-size: 2rem;
            }
        }
        p {
            font-weight: 300;
            font-family: $familia-fuentes;
            font-size: 0.875rem;
            color: #2A5467;
        }
    }
}

#contact {

    background: url('../images/fondo_footer.png') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: 0px 0px;
    // height: 100vh;

    .content-title-contact {
        text-align: center;
        padding-bottom: 5%;
       
        
        .title-contact  {
            color: #fff;
            position: relative;
            padding-top: 60%;
        }
        .title-contact  {
            display: inline-block;
            // letter-spacing: 2px;
            position: relative;
        }
          
        .title-contact::after, .title-contact::before {
            border-bottom: 4px solid $color-white;
            bottom: 16px;
            content: "";
            margin: 0 5px;
            position: absolute;
            width: 20px;
        }
          
        .title-contact::before {
            left: -35px;
        }
          
        .title-contact::after {
            right: -35px;
        }
    }
}

button:hover {
	cursor: pointer;
}

.container-contact2 {
  width: 100%;  
  justify-content: center;
  align-items: center;
}

.wrap-contact2 {
  background: #1e2f3a;
  border-radius: 10px;
}

.wrap-input2 {
  width: 100%;
  border-bottom: 2px solid #adadad;
  margin-bottom: 30px;
  input{
      border: 0;
  }
}

.input2 {
  width: 100%;
  background: #1e2f3a;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
}

.focus-input2 {
  top: 0;
  left: 0;
  pointer-events: none;
}


textarea.input2 {
  padding: 13px;
}

.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
  margin-bottom: 7%;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #fff;
}

.contact2-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 210px;
  height: 35px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

.validate-input {
  position: relative;
}

.location {
    p {
        color: #FFFFFF;
        font-family: $familia-fuentes;
        font-weight: 700;
        text-align: center;
    }        
}

.logo-footer {
    padding: 7% 0%;
    a{
        margin:0 5px;
        transition: transform 1s;
    }
    a:hover{
        background: none;
        transform: translateY(-15px);
    }
    span {
       margin: 0px 5%;
    }
}

footer {
    padding: 1% 0%;
    background-color: $background-blue-default;
    border-top: 1px solid #fff;

    h6 {
        padding: 10px;
        text-align: center;
        color: $color-white;
        margin: auto;
        font-weight: 300;
        font-size: 14px;
    }
}

label{
    color: #FFFFFF;
}

.btn-enviar{
    color: #FFFFFF;
    width: 200px;
    background: rgba(255, 255, 255, 0);
    border: 1px #FFFFFF solid;
    transition: all 1s;
}
.btn-enviar:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}

.floating-wpp{
    z-index: 9999;
}


